# commented variables have defaults
#
# uncommented variables are needed and farmina
# won't start if they're not set

#FARM_HOST=localhost
FARM_PORT=4321
SUBMIT_URL='http://10.10.0.1:8080/flags'
TEAM_TOKEN=tokki
RATE_LIMIT_WAIT=2
FLAG_REGEX='[A-Z0-9]{31}='
NUM_TEAMS=80
TEAM_IP_FORMAT='10.60.{}.1'
#FLAGS_DB=flags.db
#FLAGS_CHUNK_SIZE=2500
#UVICORN_LOG_LEVEL=trace

# this will take the first group of the regex as float
# and use it to calculate the points gained for the
# flags just submitted
#POINTS_REGEX='Accepted: ([0-9.]+) flag points'
